{
    "extends":"airbnb-base",
    "parserOptions": {
    	"ecmaVersion": 8
    },
    "env": {
    	"node": true,
    	"browser": true,
    	"es6": true
    },
    "rules": {
         "no-unused-vars": "warn",
         "no-console": "off",
         "function": "false",
         "linebreak-style": "off",
         "comma-dangle": "off",
        "indent": ["off", ["tab", 2, 4, 8]]
    }
}